mixin field(item)
	.form-group
		label(for=item.name)= item.name + ':'
		input.form-control(id=item.name type=item.type name=item.name)
		small.text-muted.form-text= item.text


extends ../layout
block content
	.container.m-t-1
		.row
			.col-sm-12.col-md-4
				.card
					.card-header.text-xs-center
						h3 Sign Up
					.card-block
						form
							+field({name:'username', text:'Must be unique', type:'text'})
							+field({name:'email', text:'Must be unique', type:'email'})
							+field({name:'password', text:'At least 4 characters', type:'password'})
							button.btn.btn-primary(type="submit") Sign Up
							small.m-l-1 Already?
							a.btn.btn-link(href="/auth/bnet") Login
					.card-block
						a.btn.btn-lg.btn-danger.btn-block(href="/auth/google") Sign up with Google+

			.col-sm-12.col-md-8
