include ../components/buttons
mixin user-card(user, guild)
  .card
    .card-header
      h4.card-title= user.displayName
    .p-a-1
      +btn({href:'/auth/password', text:'Change password', icon:'edit'}, 'secondary')
    .card-block
      .row
        .col-xs-3
          if user.google
            img(src=user.google.image.url, alt=user.google.displayName)
        .col-xs-9
          div.small
            ul.list-unstyled
              li= user.email
              if user.username
                li= user.username
              if guild
                li
                  a(href='/'+guild.guildname)= guild.guildname
    if !user.google
      .card-block.text-xs-right
        a.btn.btn-danger(href="/auth/google") Connect with Google+
