extends ../layout
include ./card
include ../components/region-select
block content
  .container.m-t-2
    
    .row
      .col-md-7
        a.btn.btn-primary(href="/user/settings/guild")
          span.fa.fa-cog
          | Guild setting
        form.card(method="post")
          .card-header
            h3 User Settings
          .card-block
            .form-group(class="#{data.errors.username ? 'has-danger': ''}")
              label(for='username') Username:
              input.form-control(id='username' type='text' name='username' value=user.username required class="#{data.errors.username ? 'form-control-danger': ''}" pattern="^[a-z0-9_-]{3,16}$" title="Available characters  a-z 0-9 _ -")
              if data.errors.username
                .form-control-feedback= data.errors.username
              small.text-muted.form-text.text-warning Must be unique
              small
                | Your profile 
                a(href="/#{user.username}")= 'http://localhost:3000/' + (user.username || 'chosen-user-name')

            button.btn.btn-block.btn-secondary Submit


      .col-md-5
        +user-card(user, data.guild)
        
        if data.characters.length
          .card
            .card-header
              h3 Characters
            ul.list-group.list-group-flush
              each item in data.characters
                li.list-group-item
                  span= item.name
                  small.m-l-1= item.realm
                  small.m-l-1= item.region
                  a.pull-xs-right.text-warning(href='/user/settings/characters/#{item._id}/delete' title="remove #{item.name}")
                    span.fa.fa-trash
                  if item.bnet
                    div
                      small= 'lvl '+ item.bnet.level

        form.card(method="post" action="/user/settings/characters")
          .card-header
            h4 New Character
          .card-block.p-x-2
            +region-select
            .form-group.row
              label.col-form-label.col-xs-5 Character Name:
              input.form-control.col-xs-7(type='text' name='name' placeholder="Name" required)
            .form-group.row
              label.col-form-label.col-xs-5 Realm:
              input.form-control.col-xs-7(type='text' name='realm' placeholder="Realm" required)
            .form-group.row
                button.col-xs-7.offset-xs-5.btn.btn-block.btn-info Submit    
