extends ../layout
block content
  .container.m-t-2

    .row
      .col-md-7
        form.card(method="post")
          .card-header
            h3 User Settings
          .card-block
            .form-group
              label(for='username') Username:
              input.form-control(id='username' type='text' name='username' value=user.username required)
              small.text-muted.form-text.text-warning Must be unique

            button.btn.btn-block.btn-secondary Submit

      .col-md-5
        .card
          .card-block
            .row
              .col-xs-2
                img.card-img-top(src=user.google.image.url, alt=user.google.displayName)
              h4.card-title.col-xs-10= user.displayName
        if data.characters.length
          .card
            .card-header
              h3 Characters
            ul.list-group.list-group-flush
              each item in data.characters
                li.list-group-item
                  span= item.name
                  small.m-l-1= item.realm
                  small.m-l-1= item.region
                  a.pull-xs-right(href='/user/settings/characters/#{item._id}/delete' title="remove #{item.name}")
                    span.fa.fa-trash
                  if item.bnet
                    div
                      small= 'lvl '+ item.bnet.level

        form.card(method="post" action="/user/settings/characters")
          .card-header
            h4 New Character
          .card-block.p-x-3
            .form-group.row
              label.col-form-label.col-xs-4 Region
              select.form-control.col-xs-8(name="region")
                option(value="us") us
                option(value="eu") eu
                option(value="kr") kr
                option(value="tw") tw
              
              
            .form-group.row
              label.col-form-label.col-xs-4 Character Name:
              input.form-control.col-xs-8(type='text' name='name' placeholder="Name" required)
            .form-group.row
              label.col-form-label.col-xs-4 Realm:
              input.form-control.col-xs-8(type='text' name='realm' placeholder="Realm" required)
            .row
              button.btn.btn-block.btn-secondary +Submit    
